@import "~iview/src/styles/index.less";
@import (css)
  url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@font-family : 'Helvetica Neue', 'Poppins', Arial, sans-serif;

h1 {
  font-size: 16px;
}
