@import "./variables";

// Max Dice extends
.game-section {
  padding: 5px 5px 0 5px;
}

.max-dice-game-cell {
  position: relative;
  padding: 0;
  background: $max-dice-theme-color-1;
  background: linear-gradient(
    180deg,
    $max-dice-theme-color-1 0%,
    $max-dice-theme-color-2 40%,
    $max-dice-theme-color-3 100%
  );
}

.max-dice-game-title {
  color: $max-dice-theme-color-5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin: 0 8px;
  line-height: 1.5;
}

.max-dice-game-bet-no {
  font-size: 12px;
  color: $max-dice-theme-color-5;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.max-dice-game-btn {
  border: unset;
  border-radius: unset;
  border-right: 1px solid $game-cell-divider-color;
}

.max-dice-game-btn-hover-cell {
  border-color: transparent;
  color: $max-dice-theme-color-3;
}

.max-dice-game-btn-hover {
  border-color: transparent;
  color: transparent;
  background: $max-dice-theme-color-3;
}

.max-dice-game-btn-img-hover {
  box-shadow: 0 0 15px 0 $max-dice-theme-color-1;
}

.max-dice-game-btn-active {
  border-color: transparent;
  color: $max-dice-theme-color-6;
}

.max-dice-game-btn-focus {
  box-shadow: unset;
}

.max-dice-game-row-container {
  background-color: $max-dice-background-color;
}
