<template>
  <div>
    <vue-popper
      ref="popper"
      trigger="click"
      boundaries-selector=".game-container"
      :options="popperOptions"
      @show="popperOnShow"
      @hide="popperOnHide"
    >
      <div class="popper betlot-popper">
        <div class="betlot-popper-header">
          <Row type="flex" justify="space-between">
            <Col>
              <Row type="flex">
                <b class="betlot-title">{{ gameTitle }}</b>
              </Row>
              <Row>
                <div
                  class="betlot-draw-no"
                >{{ $t('general.draw_no') }} {{ gameData.gCode }}{{ gameData.drawID }}</div>
              </Row>
            </Col>
            <Col class="betlot-counter">
              <span>{{ minutesString[0] }}</span>
              <span>{{ minutesString[1] }}</span>
              <span class="betlot-counter-colon">:</span>
              <span>{{ secondsString[0] }}</span>
              <span>{{ secondsString[1] }}</span>
            </Col>
          </Row>
        </div>
        <div v-if="!isShowingResult">
          <div v-if="rebets" class="betlot-rebet-section">
            <Row type="flex" justify="start">
              <div
                class="betlot-rebet-last-bet"
              >{{ $t('LASTBETSFOR') }} {{ $t('general.draw_no') }} {{ gameData.gCode }}{{ rebets.drawid }}</div>
            </Row>
            <div class="betlot-rebet-summary">
              <div v-if="rebets.beton">
                <Row type="flex" justify="space-between" v-for="item in rebets.beton">
                  <span>{{ $t(`o${item.bet_type}`) }}</span>
                  <span class="betlot-rebet-summary-odd">{{ item.amt }}</span>
                </Row>
                <Divider />
                <Row type="flex" justify="space-between" v-if="rebets.total">
                  <span>{{ $t('BETTOTAL') }}</span>
                  <span class="betlot-rebet-summary-odd">{{ rebets.total }}</span>
                </Row>
              </div>
              <div class="error" v-else>{{ $t('NOREBETLAST') }}</div>
            </div>

            <div class="rebet-button">
                <a long class="betlot-rebet-components-button" @click="cancelOnClick">Cancel</a>
                <a long class="betlot-rebet-components-button rebet" @click="rebetOnClick">Rebet</a>
            </div>
          </div>

          <div v-else>
            <form class="form">

            <Row type="flex" justify="start">
              <b class="betlot-header-game">{{ $t(`max_dice.${type}group`) }}</b>
            </Row>

            <Row type="flex">
              <b class="betlot-header-odd">{{$t(`max_dice.${type}`)}} @ {{odd}}</b>
            </Row>

            <div class="inputs">
              <span class="input-stake">
                <Form ref="betlot-form" :rules="betlotRules" class="input-form">
                  <FormItem prop="stake">
                    <input
                      class="betlot-actions-components-input"
                      clearable
                      v-model="stake"
                      @keydown="isNumber"
                    ></input>
                  </FormItem>
                </Form>

                    <a @click="clearStake()">
                      <svg class="icon-close">
                        <use xlink:href="#icon-close"></use>
                      </svg>
                    </a>

                    <svg style="display:none;">
                      <symbol id="icon-close" viewBox="0 0 512 512">
                        <path d="m438 387l-131-131 131-131c14-14 14-36 0-50-15-15-37-15-51 0l-131 130-131-130c-14-15-36-15-50 0-15 14-15 36 0 50l130 131-130 131c-15 14-15 36 0 51 14 14 36 14 50 0l131-131 131 131c14 14 36 14 51 0 14-15 14-37 0-51z"></path>
                      </symbol>
                    </svg>
              </span>
              </div>

              <div class="quickbet grid-x small-up-4">
                <div class="cell" v-for="stake in [2,10,50,250]">
                  <a @click="addStakeOnClick(stake)">+{{ stake.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, ",") }}</a>
                </div>
                <div class="cell">
                  <a @click="setMaxStakeOnClick()" class="max">Max</a>
                </div>
              </div>

            <div class="betlot-bet-info">
               <div class="error" v-if="error">
                {{ error }}
              </div>

                Payout : <span class="summary_value">{{ payout }}</span><br>
                Minimum : <span class="summary_value">{{ minbet }}</span><br>
                Maximum : <span class="summary_value">{{ maxbet }}</span><br>
            </div>

              <div class="bet-choices">
                  <a @click="cancelOnClick()" class="cancel-button">Cancel</a>
                  <a class="bet-button" @click="betOnClick">Place Bet</a>
              </div>

             </form>
          </div>
    </div>
      
      
        <div class="betlot-bet-response" v-else>
          <Row type="flex" justify="start">
            <b class="betlot-header-game">{{ $t(`max_dice.${type}group`) }}</b>
          </Row>
          <Row type="flex">
            <b class="betlot-header-odd">{{$t(`max_dice.${type}`)}} @ {{odd}}</b>
          </Row>
          <Row class="betlot-bet-response-message" type="flex">{{responseMessage}}</Row>
          <Row class="betlot-bet-response-ref-no" type="flex">[{{ $t('REF') }}: {{ refNo }}]</Row>

           <div v-show="isLoading" class="loading">
            <div class="loading-icon"></div>
          </div>

          <div v-if="done">
            <Row type="flex">
              <a class="betlot-actions-components-button" long @click="okOnClick">OK</a>
            </Row>
          </div>

        </div>
      </div>

      <span class="bet-button" slot="reference">
        <slot>
          <component
            :is="`${bettype}-bet-lot-button`"
            :type="type"
            :odd="odd"
            :win="win"
            :game="game"
            :item="item"
            :bet-section="betSection"
          />
        </slot>
      </span> 
    </vue-popper>
 </div>
</template>

<script>
import numeral from "numeral";
import VuePopper from "vue-popperjs";
import { each } from "lodash";
import { titleCase } from "change-case";
import {
  Row,
  Col,
  Input,
  Button,
  Form,
  FormItem,
  Message,
  Divider
} from "iview";
import "vue-popperjs/dist/vue-popper.css";
import axios from "../../configs/axios";
import NextBetBetLotButton from "../num-ber/widgets/NextBetBetLotButton";
import SingleBetBetLotButton from "../num-ber/widgets/SingleBetBetLotButton";
import ColumnBetBetLotButton from "../num-ber/widgets/ColumnBetBetLotButton";
import RowBetBetLotButton from "../num-ber/widgets/RowBetBetLotButton";

export default {
  props: [
    "type",
    "bettype",
    "types",
    "odd",
    "win",
    "game",
    "size",
    "gameData",
    "disallowBetting",
    "minutesString",
    "secondsString",
    "rebets",
    "group",
    "item",
    "betSection"
  ],
  components: {
    Row,
    Col,
    Input,
    Button,
    Form,
    FormItem,
    Message,
    Divider,
    VuePopper,
    NextBetBetLotButton,
    SingleBetBetLotButton,
    ColumnBetBetLotButton,
    RowBetBetLotButton
  },

  computed: {
    
    gameTitle() {
      return titleCase(this.game);
    },
    betID: function() {
      return betTypes[this.type].betID;
    },
    gameTypeID: function() {
      return betTypes[this.type].gameTypeID;
    },
    minbet: function() {
      let minBet = (this.rules && this.rules.minbet) || 2;
      return numeral(minBet).format("0");
    },
    maxbet: function() {
      let maxBet = (this.rules && this.rules.maxbet) || 500;
      return numeral(maxBet).format("0");
    },

    payout: function() {
      return display_numeric(this.stake * this.gameTypeOdd, 2);       
    },

    responseMessage() {
      return this.$t("PLACE_SUCCESS");
    },
    isSpecificNumber() {
      let gameType = this.type.match(/\d+/gi);

      return gameType[0].length === 2;
    },
    activeGameType() {
      return this[`dice${this.group || 1}SelectedType`];
    },
    gameTypeOdd() {
      if (this.isSpecificNumber) {
        if (!this.gameData.odds) {
          return this.type;
        }
        return this.gameData.odds[this[`dice${this.group}SelectedType`]];
      }

      return this.odd;
    }
  },
  watch: {
    disallowBetting(newVal) {
      if (newVal) {
        this.$refs.popper.doClose();
      }
    },
    stake: function stake() {
      this.preCheckStake();
    },
  },
  data() {
    return {
      error: null,
      errorTimer: null,
      done:false,
      isLoading:false,

      // Get bet lot initial state from global config file.
      // Config for popper remain here because there is no need to reset state
      ...betlotInitialState(),
      popperOptions: {
        placement: "bottom",
        hide: true,
        modifiers: {
          flip: { behavior: ["bottom"] },
          preventOverflow: {
            priority: ["left", "left", "top"],
            offset: { offset: "0,10px" }
          }
        }
      },
       // Set bet lot rules for form validation purpose
      betlotRules: {
        stake: [
          {
            // validator: stakeValidator,
            trigger: "change"
          }
        ]
      }
    };
  },

  methods: {

    preCheckStake: function preCheckStake() {
      let maxBet = (this.rules && this.rules.maxbet) || 500;
    
      if(this.stake == 0){
        return this.stake = ""; 
      }

      else if (this.stake > maxBet) {
          this.error = this.$t("ERROR_MAX_TO");
          this.setStakeTimeout = setTimeout(() => {
              this.setStake(maxBet); 
          }, 20),
          (this.errorTimer = setTimeout(() => {
              this.error = null;
          }, 3000));
      }
    },

    clearStake() {
      this.stake = "";
    },   

    isNumber: function isNumber(a) {
      a = a ? a : window.event;
      var b = a.which ? a.which : a.keyCode;

      if(b === 27)
      {
        this.$parent.$parent.popperHide();
      }
      return 31 < b && (48 > b || 57 < b) && (96 > b || 105 < b) && 46 !== b 
          ? void a.preventDefault()
          : !0;
    },
  
    diceNumberOnClick(gameType) {
      this[`dice${this.group}SelectedType`] = gameType;
    },
    addStakeOnClick(stake) {
      this.stake = parseFloat(this.stake === "" ? 0 : this.stake) + stake ;
    },
    setMaxStakeOnClick() {
      this.stake = (this.rules && this.rules.maxbet) || 500;
    },
    okOnClick() {
      this.$refs.popper.doClose();
    },
    cancelOnClick() {
      this.$refs.popper.doClose();
    },
    async rebetOnClick() {
      let formData = new FormData();
      formData.append("productID", this.gameData.productID);
      formData.append("gID", this.gameData.gID);
      formData.append("drawID", this.gameData.drawID);
      formData.append("resultTime", this.gameData.resultTime);

      try {
        let res = await axios.post(replaceBetUrl, formData);

        let resData = res.data;

        if (resData.error) {
          this.handleErrorCode(resData.error);
        } else {
          this.isShowingResult = true;

          let responseObj = {
            data: { k_available: "993133.6000" },
            ticket: 536,
            error: 0,
            serverTime: "10/27/2019 10:30:16 PM"
          };
          // TODO: change to axios
          this.refNo = responseObj.ticket;

          this.closeResponsePopperTimeout = setTimeout(() => {
            this.$refs.popper.doClose();

            this.clearCloseResponsePopperTimeout();
          }, 2000);
        }
      } catch (e) {}
    },
    // Set stake based on max or min bet of game
    setStake(stake) {
      this.stake = stake;
    },
    // Remove special character and alphabet character, remain numeric character
    stakeOnKeyUp(e) {
      let stake = e.target.value.replace(/(\W|[A-Z|a-z])/gi, "");

      this.stake = stake;
    },
    // When bet cell is click, start checking bet type from server to get corresponding bet info
    async checkBetType() {
      try {
        // Start sending request for retrieving drawing result
        let res = await axios.get(
          `${checkbetTypeUrl}&betID=${betID}&gID=${gameTypeID}`
        );

        let resData = res.data;

        // Set bet info for corresponding bet cell
        this.rules = resData;
      } catch (e) {}
    },
    betOnClick() {
      // Start form validation
      this.$refs["betlot-form"].validate(async valid => {
        // If form is valid and not empty string, start sending request to server
        if (valid && this.stake !== "" && this.stake >= 2) {
          let formData = new FormData();
          formData.append("productID", this.gameData.productID);
          formData.append("gID", this.gameData.gID);
          formData.append("drawID", this.gameData.drawID);
          formData.append("resultTime", this.gameData.resultTime);
          formData.append("betID", this.betID);
          formData.append("odds", this.odd);
          formData.append("stake", parseFloat(this.stake));
          
          try {
            let res = await axios.post(placeBetUrl, formData);

            let resData = res.data;

            if (resData.error) {
              this.handleErrorCode(resData.error);
            } 
            else {
              this.isShowingResult = true;

              this.isLoading = true; //for to display loading icon
              setTimeout(() => {
              for (var i = 1; i<200000; ++i){
                this.done = !i;
              }
              this.done = true;
              this.isLoading = false;
              }, 25);

              let responseObj = {
                data: { k_available: "993133.6000" },
                ticket: 536,
                error: 0,
                serverTime: "10/27/2019 10:30:16 PM"
              };

              this.refNo = responseObj.ticket;

              this.closeResponsePopperTimeout = setTimeout(() => {
                this.$refs.popper.doClose();

                this.clearCloseResponsePopperTimeout();
              }, 2000);

            }
          } catch (e) {}
        }
        else if(this.stake == ""){
          return this.stake = "2";  //if empty will default value 2
        }
        else if(this.stake < 2){
          this.error = this.$t("ERROR_MIN_TO");
          this.setStakeTimeout = setTimeout(() => {
               return this.stake = "2"
          }, 20),
          (this.errorTimer = setTimeout(() => {
              this.error = null;
          }, 3000));
        }
      });
    },
    handleErrorCode(errorCode) {
      // Map error code to display correct error message
      switch (errorCode) {
        case 100:
          this.displayErrorMessage(this.$t("ERROR_MIN_TO"));
          break;
        case 101:
          this.displayErrorMessage(this.$t("ERROR_MAX_TO"));
          break;
        case 102:
          this.displayErrorMessage(this.$t("ERROR_MAX_DR"));
          break;
        case 103:
          this.displayErrorMessage(this.$t("ERROR_MAX_BTDR"));
          break;
        case 123:
          this.displayErrorMessage(this.$t("ERROR_XAMOUNT"));
          break;
        case 200:
          this.displayErrorMessage(this.$t("ERROR_NMB"));
          break;
        case 206:
          this.displayErrorMessage(this.$t("ERROR_206"));
          break;
        case 207:
          this.displayErrorMessage(this.$t("ERROR_207"));
          break;
        case 208:
          this.displayErrorMessage(this.$t("ERROR_208"));
          break;
        case 209:
          this.displayErrorMessage(this.$t("ERROR_209"));
          break;
        case 404:
          this.displayErrorMessage(this.$t("ERROR_GAME_UA"));
          break;
        default:
          this.displayErrorMessage(this.$t("PLACE_FAIL"));
      }
    },
    // Reset the whole state
    resetState() {
      this.clearStakeTimeout();

      each(betlotInitialState(), (val, key) => {
        this[key] = val;
      });
    },
    displayErrorMessage(content) {
      Message.error({
        duration: 3,
        content,
        top: 100,
        closable: true
      });
    },
    displaySuccessMessage(content) {
      Message.error({
        duration: 3,
        content,
        closable: true
      });
    },
    popperOnShow() {
      console.log("popper on show");
      this.resetState();
      this.checkBetType();
    },
    popperOnHide() {
      this.resetState();
    },
    clearStakeTimeout() {
      clearTimeout(this.setStakeTimeout);
      delete this.setStakeTimeout;

    },
    clearCloseResponsePopperTimeout() {
      clearTimeout(this.closeResponsePopperTimeout);
      delete this.closeResponsePopperTimeout;
    }
  }
};

</script>

<style lang="scss">
.input-form{
  height:36px;
}

.grid-x{
  display: flex;
  flex-flow: row wrap;
}

.form {
  padding: 5px 15px 45px 15px;
}

.inputs{
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 10px; 
}

.inputs .input-stake{
  width: 100%;
}

.inputs .input-stake a svg {
  height: 10px;
  width: 10px;
  fill: currentColor;
}

.inputs .input-stake a {
  height: 24px;
  border-radius: 3px;
  line-height: 24px;
  border: none;
  top: 5px;
  bottom: 5px;
  right: 8px;
  background: #413B3B;
  color: #FFFFFF;
  position: absolute;
  width: 24px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.input-stake a:hover {
  background: #413B3B;
  color: #FED943;
}

.quickbet {
  margin: 5px -1px 0 -1px;
}

.quickbet .cell {
  padding-right: 2px;
  padding-bottom: 2px;
}

.small-up-4>.cell {
  width: 25%;
}

.quickbet .cell a {
  background: #342F2F;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  border-right: none;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  display: block;
  cursor: pointer;
  margin: 1px;
  border-radius: 3px;
  width: 100%;
}

.quickbet .cell a.max {
  background: rgb(2,136,85);
  background: -moz-linear-gradient(45deg, #0D6193 0%, #62D6E6 100%);
  background: -webkit-linear-gradient(45deg, #0D6193 0%, #62D6E6 100%);
  background: linear-gradient(45deg, #0D6193 0%, #62D6E6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D6193', endColorstr='#62D6E6',GradientType=1 );
}

.quickbet .cell a:hover {
  background: #196CBB;
  font-weight: bold;
  color: #FFFFFF;
}

 .quickbet .cell a.max:hover {
  background: rgb(209,240,108);
  background: -moz-linear-gradient(45deg, #62D6E6 0%, #0D6193 100%);
  background: -webkit-linear-gradient(45deg, #62D6E6 0%,#0D6193 100%);
  background: linear-gradient(45deg, #62D6E6 0%,#0D6193 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62D6E6', endColorstr='#0D6193',GradientType=1 );
}

@keyframes loading-icon {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.9, 0.5, 0.9, 0.9);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(50, 50, 100, 50);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading{
  background: #e2e7f0;  
}

.loading-icon {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-icon:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  border: 20px solid #fff;
  border-color: #242f4d transparent #283a69 transparent;
  animation: loading-icon 1.8s infinite;
}

.summary {
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  background: #342F2F;
  padding: 5px;
  color: #FFFFFF;
  margin-top: 10px;
}

.summary .error{
  color:#00C4DB;
  font-size: 14px;
  margin-bottom:8px;
}

.summary_value {
  font-size: 12px;
  font-weight: bold;
  color: #4EBAF1;
  float: right;
}

.rebet-button{
  padding:10px;
}

.inputs input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.bet-choices{
  margin-top: 10px;
}

.bet-choices .cancel-button {
  font-size:12px;
  border: 1px solid #B9B9B9;
  background: transparent;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 48%;
  margin: 0 1%;
  float: left;
  text-align: center;
  border-radius:3px;
}

.bet-choices .cancel-button:hover {
  background: rgb(194,35,56);
  border: 1px solid rgb(194,35,56);
}

.bet-choices .bet-button {
  cursor: pointer;
  font-size:12px;
  border: 2px solid rgb(42, 115, 226);
  background: #1D65AD;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  height: 34px;
  width: 48%;
  margin: 0 1%;
  float: right;
  text-align: center;
  border-radius: 3px;
}

.bet-choices .bet-button:hover {
  background: #dcad58;
  border: 1px solid #dcad58;
  color: #fff;
}

button {
  padding: 0;
  border-radius: 3px;
}

.number-game .popper {
  width: 250px;
  text-align: left;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  z-index: 200000;
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.3);
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  background: #3E3838 url(../../assets/images/common/popoverbg.png) top center no-repeat;
  color: #FFF;
  border: none;
}
.betlot-popper-header {
  padding: 13px 15px;
  opacity: 0.9;
  font-size: 12px;
  padding-bottom: 0px;
}

.betlot-title {
  text-transform: uppercase;
  color:#4EBAF1;
  font-size:14px;
}

.betlot-draw-no {
  color: white;
  display: block;
  font-size: 12px;
}

.betlot-header-game {
  font-size: 10px;
  color: white;
}

.betlot-game-title {
  font-size: 13px;
  font-weight: bold;
}

.betlot-bet-buttons {
  margin: 10px;
}

.betlot-bet-buttons-col {
  color: black;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
}

.betlot-actions-components {
  margin: 0 10px;
}

.betlot-actions-components-input .ivu-input.ivu-input-default {
  border: none;
}

.betlot-actions-components-button {
  background: #235AC2;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  border: 1px solid #347CEB;
  border-radius: 3px;
}

.betlot-rebet-components-button {
  font-size:12px;
  border: 1px solid #B9B9B9;
  background: transparent;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 53%;
  margin: 0 1%;
  float: left;
  text-align: center;
  border-radius:3px;
  margin-left:-8px;
}

.betlot-rebet-components-button:hover {
  background: rgb(194,35,56);
  border: 1px solid rgb(194,35,56);
  color:white;
}

.betlot-rebet-components-button.rebet{
  cursor: pointer;
  font-size:12px;
  border: 2px solid rgb(42, 115, 226);
  background: #1D65AD;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  height: 34px;
  width: 53%;
  margin: 0 1%;
  float: right;
  text-align: center;
  border-radius: 3px;
  margin-right:-8px;
}

.betlot-rebet-components-button.rebet:hover {
  background: #dcad58;
  border: 1px solid #dcad58;
  color: #fff;
  line-height: 32px;
}

.betlot-bet-info {
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  background: #342F2F;
  padding: 5px;
  color: #FFFFFF;
  margin-top: 10px;
}

.betlot-bet-info .error{
  color:#c22338;
  font-size: 14px;
  margin-bottom:8px;
}

.betlot-bet-info-figure {
  font-weight: bold;
  font-size: 16px;
  color: $max-dice-theme-color-4;
}

.betlot-bet-info-description {
  color: $header-dark-color;
  font-weight: bold;
}

.betlot-bet-response-1 {
  color:#339933;
  padding: 5px 15px 8px 15px;
}

.betlot-bet-response-message-1 {
  margin-top: 10px;
  font-size:14px;
}

.betlot-bet-response-ref-no-1 {
  margin-bottom: 5px;
  font-size:11px;
}

.popper[x-placement^="bottom"]{
  margin-top: 0px;
}

.number-game .popper[x-placement^="bottom"] .popper__arrow{
  border-color: transparent transparent #3E3838 transparent;
}

.betlot-header-odd{
  color: white;
}

.betlot-counter span {
  font-size: 14px;
  color: #B6CADE;
  font-weight: bold;
}

.betlot-counter .betlot-counter-colon {
  color: #B6CADE;
  background: transparent;
  text-align: center;
  padding: 0;
  width: auto;
}

.betlot-rebet-section {
   padding: 5px 15px 35px 15px;
}

.betlot-rebet-last-bet {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
  font-size:13px;
}

.betlot-rebet-summary {
  border-radius: 5px;
  background: #342F2F;
  padding: 12px;
}

.betlot-rebet-summary-odd {
  font-weight: bold;
  color:white;
}

.betlot-popper .ivu-divider-horizontal {
  margin: 10px 0;
}

.betlot-bet-types-buttons-section {
  margin: 10px;
}

.popper .ivu-row-flex-space-between{
  margin-bottom: 7px;
}

.betlot-bet-types-buttons.ivu-btn.ivu-btn-default {
  border: transparent;
}

.betlot-bet-types-buttons.active-type {
  background-color: $max-dice-theme-color-3;
  color: $max-dice-theme-color-5;
}

.betlot-bet-types-buttons.active-type.ivu-btn.ivu-btn:hover {
  background-color: $max-dice-theme-color-3;
  color: $max-dice-theme-color-5;
}

.bet-button{
  position:relative;
  display: inline-block;
}

</style>
