<template>
  <span>
    <div
      v-if="openPopperID != gameData.gID"
      @click="disallowBetting ? '' : openPopper(gameData.gID)"
    >
      <slot></slot>
    </div>
    <vue-popper
      v-if="openPopperID == gameData.gID"
      :ref="'popper' + gameData.gID"
      trigger="clickToOpen"
      :boundaries-selector="'#game-' + gameData.gID"
      :options="popperOptions"
      :force-show="true"
      @show="popperOnShow(gameData.gID)"
      @hide="popperHide(gameData.gID)"
    >
      <div class="popper betlot-popper">
        <div class="betlot-popper-header">
          <Row type="flex" justify="space-between">
            <Col>
              <Row type="flex">
                <b class="betlot-title">{{ gameTitle }}</b>
              </Row>
              <Row>
                <div class="betlot-draw-no">
                  {{ $t("general.draw_no") }} {{ gameData.gCode
                  }}{{ gameData.drawID }}
                </div>
              </Row>
            </Col>
            <Col class="betlot-counter">
              <span>{{ minutesString[0] }}</span>
              <span>{{ minutesString[1] }}</span>
              <span class="betlot-counter-colon">:</span>
              <span>{{ secondsString[0] }}</span>
              <span>{{ secondsString[1] }}</span>
            </Col>
          </Row>
        </div>
        <div v-if="!isShowingResult">
          <div v-if="rebets" class="betlot-rebet-section">
            <Row type="flex" justify="start">
              <div class="betlot-rebet-last-bet" v-if="norebetlast == false" hidden></div>
              <div class="betlot-rebet-last-bet" v-if="norebetlast == true">
                {{ $t("general.last_bets_for") }} {{ $t("general.draw_no") }}
                {{ gameData.gCode }}{{ previousdrawno }}
              </div>
            </Row>

            <div class="betlot-rebet-summary" v-if="rebets.beton">
              <Row type="flex" justify="space-between" v-for="item in rebets.beton">
                <span>{{ item.title }}</span>
                <span class="betlot-rebet-summary-odd">{{ item.amt }}</span>
              </Row>
              <Divider />
              <Row type="flex" justify="space-between" v-if="rebets.total">
                <span>{{ $t("general.bet_total") }}</span>
                <span class="betlot-rebet-summary-odd">{{ rebets.total }}</span>
              </Row>

              <div class="error" v-if="error">{{ error }}</div>
            </div>

            <div class="loading" v-else-if="norebetlast == false">
              <div class="loading-icon"></div>
            </div>

            <div
              class="betlot-rebet-summary"
              v-else-if="norebetlast == true"
            >{{ $t("general.no_bets_last_round") }}</div>

            <div class="rebet-button">
              <a
                long
                class="betlot-rebet-components-button"
                :class="{ fullwidth: !rebets.beton }"
                @click="cancelOnClick"
              >{{ $t("general.cancel") }}</a>
              <a
                long
                class="betlot-rebet-components-button rebet"
                @click="rebetOnClick"
                v-if="rebets.beton"
              >{{ $t("general.rebet") }}</a>
            </div>
          </div>
        </div>

        <div class="betlot-bet-response" v-else>
          <Row type="flex" justify="start">
            <b class="betlot-header-game">
              {{
              $t(`${gameType}.${type}group`)
              }}
            </b>
          </Row>
          <Row type="flex">
            <!-- <b class="betlot-header-odd">{{ $t(`${gameType}.${type}`) }} @ {{ odd }}</b> -->
            <b class="betlot-header-odd">{{ $t(`${gameType}.${type}`) }} @ {{ odd }}</b>
          </Row>
          <Row class="betlot-bet-response-message" type="flex">
            {{
            responseMessage
            }}
          </Row>

          <Row class="betlot-bet-response-ref-no" type="flex">[{{ $t("general.ref") }}: {{ refNo }}]</Row>
          <div class="loading" v-if="(isLoading = false)">
            <div class="loading-icon"></div>
          </div>

          <Row type="flex" v-else-if="(isLoading = true)">
            <a @click="okOnClick" class="betlot-actions-components-button">OK</a>
          </Row>
        </div>
      </div>
      <div slot="reference">
        <slot>
          <component
            :is="`${game}-bet-lot-button`"
            :type="type"
            :odd="odd"
            :win="win"
            :game="game"
            :size="size"
            :stake-record-sum="stakeRecordSum"
          />
        </slot>
      </div>
    </vue-popper>
  </span>
</template>

<script>
import numeral from "numeral";
import VuePopper from "vue-popperjs";
import { each } from "lodash";
import { titleCase } from "change-case";
import EventBus from "../../configs/event-bus";
import {
  Row,
  Col,
  Input,
  Button,
  Form,
  FormItem,
  Message,
  Divider
} from "iview";
import "vue-popperjs/dist/vue-popper.css";
import axios from "../../configs/axios";
import DominoBetLotButton from "../domino/widgets/DominoLotButton";

import {
  betlotInitialState,
  hi_lo_betTypes,
  max_dice_betTypes,
  domino_betTypes,
  maxracing_betTypes,
  fantan_betTypes,
  thaihilo_betTypes
} from "../../configs/global";
import { async } from "q";

export default {
  props: [
    "type",
    "odd",
    "win",
    "game",
    "size",
    "gameData",
    "disallowBetting",
    "minutesString",
    "secondsString",
    "rebets",
    "group",
    "stakeRecordSum",
    "norebetlast",
    "previousdrawno",
    "gameType"
  ],
  components: {
    Row,
    Col,
    Input,
    Button,
    Form,
    FormItem,
    Message,
    Divider,
    VuePopper,
    DominoBetLotButton
  },
  computed: {
    gameTitle() {
      return titleCase(this.game);
    },
    betID: function() {
      return this.type.slice(1);
    },
    gameTypeID: function() {
      if (this.gameType == "hi_lo") {
        return hi_lo_betTypes[this.type].gameTypeID;
      } else if (this.gameType == "max_dice") {
        return max_dice_betTypes[this.type].gameTypeID;
      } else if (this.gameType == "domino") {
        return domino_betTypes[this.type].gameTypeID;
      } else if (this.gameType == "max_racing") {
        return maxracing_betTypes[this.type].gameTypeID;
      } else if (this.gameType == "fantan") {
        return fantan_betTypes[this.type].gameTypeID;
      } else if (this.gameType == "thai-hilo") {
        return thaihilo_betTypes[this.type].gameTypeID;
      }
    },
    minbet: function() {
      let minBet = this.rules.data.minbet;
      return numeral(minBet).format("0,0");
    },
    maxbet: function() {
      let maxBet = this.rules.data.maxbet;
      return numeral(maxBet).format("0,0");
    },
    isSpecificNumber() {
      let gameType = this.type.match(/\d+/gi);

      return gameType[0].length === 2;
    },
    activeGameType() {
      return this[`dice${this.group || 1}SelectedType`];
    }
  },
  watch: {
    disallowBetting(newVal) {
      if (newVal) {
        if (typeof this.$refs["popper" + this.gameData.gID] !== "undefined") {
          this.$refs["popper" + this.gameData.gID].doClose();
        }
      }
    },
    stake: function stake() {
      this.preCheckStake();
    }
  },
  data() {
    return {
      error: null,
      errorTimer: null,
      done: false,
      isLoading: false,
      isShowingResult: false,
      stake: "",
      rules: null,
      betting: false,
      refNo: "",
      responseMessage: "",
      setStakeTimeout: null,
      closeResponsePopperTimeout: null,
      dice1SelectedType: "o11",
      dice2SelectedType: "o21",
      dice3SelectedType: "o31",
      dice4SelectedType: "o41",
      dice5SelectedType: "o51",
      dice6SelectedType: "o61",

      popperOptions: {
        placement: "bottom",
        hide: true,
        modifiers: {
          flip: { behavior: ["bottom"] },
          preventOverflow: { priority: ["left", "right"] }
        },
        removeOnDestroy: true
      },
      openPopperID: "",
      // Set bet lot rules for form validation purpose
      betlotRules: {
        stake: [
          {
            trigger: "change"
          }
        ]
      }
    };
  },
  methods: {
    openPopper: function openPopper(a) {
      let vm = this;
      this.error = "";
      setTimeout(function() {
        if (!vm.disallowBetting) vm.openPopperID = a;
      }, 30);
    },
    focusStake: function focusStake() {
      window.innerWidth > 767 &&
      document.getElementById(
        "input-stake-" + this.gameData.gID + "-" + this.type
      ) != null
        ? document
            .getElementById(
              "input-stake-" + this.gameData.gID + "-" + this.type
            )
            .focus()
        : "";
    },
    closePopper: function closePopper(a) {
      this.$refs["popper" + a].doClose();
    },
    popperHide: function popperHide(a) {
      this.openPopperID === a && (this.openPopperID = "");
    },
    preCheckStake: function preCheckStake() {
      if (this.rules) {
        if (this.stake == 0) {
          return (this.stake = "");
        } else if (this.stake > this.rules.data.maxbet) {
          this.error = this.$t("general.ERROR_MAX_TO");
          (this.setStakeTimeout = setTimeout(() => {
            this.setStake(this.rules.data.maxbet);
          }, 20)),
            (this.errorTimer = setTimeout(() => {
              this.error = null;
            }, 3000));
        }
      }
    },

    clearStake() {
      this.stake = "";
    },
    okOnClick() {
      this.$refs["popper" + this.gameData.gID].doClose();
    },
    cancelOnClick() {
      this.$refs["popper" + this.gameData.gID].doClose();
    },
    async rebetOnClick() {
      let formData = new FormData();
      formData.append("productID", this.gameData.productID);
      formData.append("gID", this.gameData.gID);
      formData.append("drawID", this.gameData.drawID);
      formData.append("resultTime", this.gameData.resultTime);

      try {
        let res = await axios.post(replaceBetUrl, formData);
        let resData = res.data;
        if (resData.error) {
          this.handleErrorCode(resData.error);
        } else {
          this.isShowingResult = true;
          this.responseMessage = this.$t("general.PLACE_SUCCESS");
          this.refNo = resData.data.ticket;

          this.get_rebet = resData.data;

          for (let i = 0; i < this.get_rebet.beton.length; i++) {
            setStakeRecord(
              this.gameData.gID,
              this.get_rebet.beton[i].type,
              this.get_rebet.beton[i].stake
            );
            EventBus.$emit("update-session-storage");
          }

          this.$root.user.balance = isNaN(parseFloat(resData.data.balance))
            ? 0
            : parseFloat(resData.data.balance);

          this.closeResponsePopperTimeout = setTimeout(() => {
            if (
              typeof this.$refs["popper" + this.gameData.gID] !== "undefined"
            ) {
              this.$refs["popper" + this.gameData.gID].doClose();
            }

            this.clearCloseResponsePopperTimeout();
          }, 2000);

          // this.displaySuccessMessage(this.$t("general.PLACE_SUCCESS"));
        }
      } catch (e) {}
    },
    // Set stake based on max or min bet of game
    setStake(a) {
      (this.stake = parseInt(a)),
        window.innerWidth > 767 ? this.focusStake() : "";
    },
    // When bet cell is click, start checking bet type from server to get corresponding bet info
    async checkBetType() {
      try {
        // Start sending request for retrieving drawing result
        let res = await axios.get(
          `${checkbetTypeUrl}&betID=${this.betID}&gID=${this.gameTypeID}`
        );
        let resData = res.data;
        // Set bet info for corresponding bet cell
        this.rules = resData;
      } catch (e) {
        console.log(e);
      }
    },
    handleErrorCode(errorCode) {
      // Map error code to display correct error message
      switch (errorCode) {
        case 100:
          this.displayErrorMessage(this.$t("general.ERROR_MIN_TO"));
          break;
        case 101:
          this.displayErrorMessage(this.$t("general.ERROR_MAX_TO"));
          break;
        case 102:
          this.displayErrorMessage(this.$t("general.ERROR_MAX_DR"));
          break;
        case 103:
          this.displayErrorMessage(this.$t("general.ERROR_MAX_BTDR"));
          break;
        case 123:
          this.displayErrorMessage(this.$t("general.ERROR_XAMOUNT"));
          break;
        case 200:
          this.displayErrorMessage(this.$t("general.ERROR_NMB"));
          break;
        case 206:
          this.displayErrorMessage(this.$t("general.ERROR_206"));
          break;
        case 207:
          this.displayErrorMessage(this.$t("general.ERROR_207"));
          break;
        case 208:
          this.displayErrorMessage(this.$t("general.ERROR_208"));
          break;
        case 209:
          this.displayErrorMessage(this.$t("general.ERROR_209"));
          break;
        case 404:
          this.displayErrorMessage(this.$t("general.ERROR_GAME_UA"));
          break;
        case 405:
          this.displayErrorMessage(this.$t("general.ERROR_REBET_DONE"));
          break;
        default:
          this.displayErrorMessage(this.$t("general.PLACE_FAIL"));
      }
    },
    // Reset the whole state
    resetState() {
      this.clearStakeTimeout();

      each(betlotInitialState(), (val, key) => {
        this[key] = val;
      });
    },
    displayErrorMessage(content) {
      this.error = content;
      Message.error({
        duration: 3,
        content,
        top: 100,
        closable: true
      });
    },
    displaySuccessMessage(content) {
      Message.success({
        duration: 3,
        content,
        closable: true
      });
    },
    popperOnShow() {
      let vm = this;
      this.rules = null;
      this.checkBetType();
      this.resetState();
      setTimeout(function() {
        vm.focusStake();
        vm.lastStake();
      }, 30);
    },
    lastStake() {
      if (this.$root.lastStake != null) {
        this.setStake(this.$root.lastStake);
      }
    },
    clearStakeTimeout() {
      clearTimeout(this.setStakeTimeout);
      delete this.setStakeTimeout;
    },
    clearCloseResponsePopperTimeout() {
      clearTimeout(this.closeResponsePopperTimeout);
      delete this.closeResponsePopperTimeout;
    }
  }
};
</script>

<style lang="scss">
.grid-x {
  display: flex;
  flex-flow: row wrap;
}

.form {
  padding: 5px 15px 45px 15px;
}

.input-form {
  height: 36px;
}

.inputs {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.inputs .input-stake {
  width: 100%;
}

.inputs .input-stake a svg {
  height: 10px;
  width: 10px;
  fill: currentColor;
}

.inputs .input-stake a {
  height: 24px;
  border-radius: 3px;
  line-height: 24px;
  border: none;
  top: 5px;
  bottom: 5px;
  right: 8px;
  background: #413b3b;
  color: #ffffff;
  position: absolute;
  width: 24px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.quickbet {
  margin: 5px -1px 0 -1px;
}

.quickbet .cell {
  padding-right: 2px;
  padding-bottom: 2px;
}

.small-up-4 > .cell {
  width: 25%;
}

.quickbet .cell a {
  background: #342f2f;
  color: #ffffff;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  border-right: none;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  display: block;
  cursor: pointer;
  margin: 1px;
  border-radius: 3px;
  width: 100%;
}

.quickbet .cell a.max {
  background: rgb(2, 136, 85);
  background: -moz-linear-gradient(45deg, #0d6193 0%, #62d6e6 100%);
  background: -webkit-linear-gradient(45deg, #0d6193 0%, #62d6e6 100%);
  background: linear-gradient(45deg, #0d6193 0%, #62d6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D6193', endColorstr='#62D6E6',GradientType=1 );
}

.quickbet .cell a:hover {
  background: #196cbb;
  font-weight: bold;
  color: #ffffff;
}

.quickbet .cell a.max:hover {
  background: rgb(209, 240, 108);
  background: -moz-linear-gradient(45deg, #62d6e6 0%, #0d6193 100%);
  background: -webkit-linear-gradient(45deg, #62d6e6 0%, #0d6193 100%);
  background: linear-gradient(45deg, #62d6e6 0%, #0d6193 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62D6E6', endColorstr='#0D6193',GradientType=1 );
}

.popper {
  width: 250px;
  text-align: left;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  z-index: 200000;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: #3e3838 url(../../assets/images/common/popoverbg.png) top center
    no-repeat;
  color: #fff;
  border: none;
}

.bet-choices {
  margin-top: 10px;
}

.bet-choices .cancel-button {
  font-size: 12px;
  border: 1px solid #b9b9b9;
  background: transparent;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 48%;
  margin: 0 1%;
  float: left;
  text-align: center;
  border-radius: 3px;
}

.bet-choices .cancel-button:hover {
  background: rgb(194, 35, 56);
  border: 1px solid rgb(194, 35, 56);
}

.bet-choices .bet-button {
  cursor: pointer;
  font-size: 12px;
  border: 2px solid rgb(42, 115, 226);
  background: #1d65ad;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  height: 34px;
  width: 48%;
  margin: 0 1%;
  float: right;
  text-align: center;
  border-radius: 3px;
}

.bet-choices .bet-button:hover {
  background: #dcad58;
  border: 1px solid #dcad58;
  color: #fff;
  line-height: 32px;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.9, 0.5, 0.9, 0.9);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(50, 50, 100, 50);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  background: #e2e7f0;
}

.loading-icon {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-icon:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  border: 20px solid #fff;
  border-color: #242f4d transparent #283a69 transparent;
  animation: loading-icon 1.8s infinite;
}

.input-stake a:hover {
  background: #413b3b;
  color: #fed943;
}

.betlot-popper-header {
  padding: 13px 15px;
  opacity: 0.9;
  font-size: 12px;
  padding-bottom: 0px;
}

.betlot-title {
  text-transform: uppercase;
  color: #4ebaf1;
  font-size: 14px;
}

.betlot-draw-no {
  color: white;
  display: block;
  font-size: 12px;
}

.betlot-header-game {
  font-size: 10px;
  color: white;
}

.betlot-game-title {
  font-size: 13px;
  font-weight: bold;
}

.betlot-header-odd {
  color: white;
}

.betlot-bet-buttons {
  margin: 10px;
}

.betlot-bet-buttons-col {
  color: black;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
}

.betlot-actions-components {
  margin: 0 10px;
}

.betlot-actions-components-input {
  font-weight: bold;
  color: #ffffff;
  border: none;
  background: #342f2f;
  height: 34px;
  line-height: 34px;
  padding: 0 37px 0 7px;
  text-align: right;
  width: 100%;
  border-radius: 4px;
}

.betlot-actions-components-button {
  background: #235ac2;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  border: 1px solid #347ceb;
  border-radius: 3px;
}

.betlot-actions-components-button:hover {
  color: #fff;
}

.betlot-rebet-components-button {
  font-size: 12px;
  border: 1px solid #b9b9b9;
  background: transparent;
  color: #fff;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 53%;
  margin: 0 1%;
  float: left;
  text-align: center;
  border-radius: 3px;
  margin-left: -8px;
}

.betlot-rebet-components-button.fullwidth {
  width: 100%;
  margin-left: 0;
}

.betlot-rebet-components-button:hover {
  background: rgb(194, 35, 56);
  border: 1px solid rgb(194, 35, 56);
  color: white;
}

.betlot-rebet-components-button.rebet {
  cursor: pointer;
  font-size: 12px;
  border: 2px solid rgb(42, 115, 226);
  background: #1d65ad;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  height: 34px;
  width: 53%;
  margin: 0 1%;
  float: right;
  text-align: center;
  border-radius: 3px;
  margin-right: -8px;
}

.betlot-rebet-components-button.rebet:hover {
  background: #dcad58;
  border: 1px solid #dcad58;
  color: #fff;
  line-height: 32px;
}

.betlot-bet-info {
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  background: #342f2f;
  padding: 5px;
  color: #ffffff;
  margin-top: 10px;
}

.betlot-rebet-summary .error {
  color: #c22338;
  font-size: 14px;
  margin-bottom: 8px;
}

.betlot-bet-info-figure {
  font-weight: bold;
  font-size: 16px;
  color: $max-dice-theme-color-4;
}

.betlot-bet-info-description {
  color: $header-dark-color;
  font-weight: bold;
}

.betlot-bet-response {
  color: #339933;
  padding: 5px 15px 8px 15px;
}

.betlot-bet-response-message {
  margin-top: 10px;
  font-size: 14px;
}

.betlot-bet-response-ref-no {
  margin-bottom: 5px;
  font-size: 11px;
}

.popper[x-placement^="bottom"] {
  margin-top: 0px;
}

.popper[x-placement^="bottom"] .popper__arrow {
  border-color: transparent transparent #3e3838 transparent;
}
.betlot-counter span {
  font-size: 14px;
  color: #b6cade;
  font-weight: bold;
}

.betlot-counter .betlot-counter-colon {
  color: #b6cade;
  background: transparent;
  text-align: center;
  padding: 0;
  width: auto;
}

.betlot-rebet-section {
  padding: 5px 15px 35px 15px;
}

.betlot-rebet-last-bet {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 13px;
}

.betlot-rebet-summary {
  border-radius: 5px;
  background: #342f2f;
  padding: 12px;
}

.betlot-rebet-summary-odd {
  font-weight: bold;
  color: white;
}

.summary .error {
  color: #c22338;
  font-size: 14px;
  margin-bottom: 8px;
}

.summary_value {
  font-size: 12px;
  font-weight: bold;
  color: #4ebaf1;
  float: right;
}

.rebet-button {
  padding: 10px;
}

.inputs input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.betlot-popper .ivu-divider-horizontal {
  margin: 10px 0;
}

.popper .ivu-row-flex-space-between {
  margin-bottom: 7px;
}

.betlot-bet-types-buttons-section {
  margin: 10px;
}

.betlot-bet-types-buttons.ivu-btn.ivu-btn-default {
  border: transparent;
}

.betlot-bet-types-buttons.active-type {
  background-color: $max-dice-theme-color-3;
  color: $max-dice-theme-color-5;
}

.betlot-bet-types-buttons.active-type.ivu-btn.ivu-btn:hover {
  background-color: $max-dice-theme-color-3;
  color: $max-dice-theme-color-5;
}

.betlot-bet-chips {
  height: intrinsic;
}
</style>
