<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Lottery</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but 93Connect Lottery doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <script src="https://wl-uatlottery.93connect.com/data/setting.php?1570585964"></script>
    <script src="https://wl-uatlottery.93connect.com/assets/js/config.js?1570585964"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/TextPlugin.min.js"></script> -->
    <!-- built files will be auto injected -->
  </body>
</html>
