<template>
  <div oncontextmenu="return true">
    <Card dis-hover :id="['game-'+gameData.gID]" class="domino-container">
      <game-header
        :title="title"
        game="domino"
        gameType="domino"
        :game-data="gameData"
        :draw-no="drawNo"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :disallow-betting="disallowBetting"
      />
      <domino-game
        game="domino"
        gameType="domino"
        :game-data="gameData"
        :draw-result="drawResult"
        :show-drawing-animation="showDrawingAnimation"
        :disallow-betting="disallowBetting"
        :display-disallow-section="displayDisallowSection"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :on-animation-end="gameOnAnimationEnd"
      />
      <domino-history
        game="domino"
        :game-data="gameData"
        :goodroad-on="goodroadOn"
        :stat="stat"
        :historical-data="historicalData"
        :game-code="gameCode"
        :game-id="gameData['gID']"
      />
    </Card>
  </div>
</template>

<script>
import DominoHeader from "./DominoHeader";
import GameHeader from "../commons/GameHeader";
import DominoGame from "./DominoGame";
import DominoHistory from "./DominoHistory";
import gameMixin from "../../mixins/game-mixin";
import VuePopper from "vue-popperjs";
import "vue-popperjs/dist/vue-popper.css";

export default {
  mixins: [gameMixin],
  props: ["goodroadOn"],
  components: {
    GameHeader,
    DominoHeader,
    DominoGame,
    DominoHistory,
    VuePopper
  },
  mounted() {
    // console.log("domino");
    // console.log(this.gameData.gID);
  }
};
</script>

<style lang="scss" scoped>
.domino-border {
  width: 100%;
}

.border-top {
  position: absolute;
  top: 0;
}
</style>

<style lang="scss">
.domino-container .ivu-card-body {
  padding: 0;
}
</style>
