<template>
  <div class="domino-result">
    <div class="domino-result-title">{{ $t("domino.main") }}</div>
    <div class="domino-result-container">
      <new-bet-lot
        v-for="item in games"
        class="domino-result-betlot"
        :key="item"
        :type="item"
        :odd="odd(item)"
        :win="winCellNo === item"
        :game="game"
        :gameType="game"
        :game-data="gameData"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :disallow-betting="disallowBetting"
        :stake-record-sum="stakeRecordSum(item)"
        @update-session-storage="onUpdateSessionStorage"
        size="large"
      />
    </div>
  </div>
</template>

<script>
import { Row, Col, Button } from "iview";
import NewBetLot from "../../commons/NewBetLot";
import betLotMixin from "../../../mixins/bet-lot-mixin";

export default {
  mixins: [betLotMixin],
  props: ["game", "winCellNo", "gameData"],
  components: {
    Row,
    Col,
    Button,
    NewBetLot
  },
  data() {
    return {
      games: ["o1", "o2", "o3"]
    };
  }
};
</script>

<style lang="scss" scoped>
.domino-result {
  width: 100%;
}

.domino-result-title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c3a67;
  font-weight: bold;
  color: white;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.domino-result-container {
  display: flex;
  padding: 5px;
  background: #e5eaf8;
}

.domino-result-betlot {
  background: #ffffff;
  flex: auto;
}

.domino-result-betlot:hover {
  background: #f5eeb8;
  cursor: pointer;
}

.domino-result-betlot:first-of-type {
  margin-left: unset;
  border-radius: 5px 0 0 5px;
}

.domino-result-betlot:last-of-type {
  margin-right: unset;
  border-radius: 0 5px 5px 0;
}
</style>
