<template>
  <div ref="myCanvas" id="myCanvas">
    <!-- <canvas ref="myCanvas" class="domino-card"></canvas> -->
    <!-- <img  src="../../../assets/images/domino/10.png"></img> -->
  </div>
</template>

<script>
import { Row, Col, Button } from "iview";
import * as PIXI from "pixi.js";
global.PIXI = PIXI;
require("pixi-projection");
// import NewBetLot from "../../commons/NewBetLot";
import betLotMixin from "../../../mixins/bet-lot-mixin";
import EventBus from "../../../configs/event-bus";
import { TweenLite } from "gsap";

export default {
  mixins: [betLotMixin],
  props: [
    "game",
    "winCellNo",
    "secondsString",
    "minutesString",
    "gameData",
    "showDrawingAnimation",
    "drawResult"
  ],
  components: {
    Row,
    Col,
    Button,
    PIXI
  },
  data() {
    return {
      startdrawing: false,
      flipP1: false,
      flipP2: false,
      flipB1: false,
      flipB2: false,
      drawPSum: 0,
      drawBSum: 0,
      drawPSumP2: 0,
      drawBSumB2: 0,
      d: 100,
      dx: 4,
      app: new PIXI.Application({ width: 325, height: 140 }),
      domino_back: "",
      player_domino1: "",
      player_domino2: "",
      banker_domino1: "",
      banker_domino2: ""
    };
  },
  watch: {
    showDrawingAnimation(newVal, oldVal) {
      let vm = this;
      if (newVal) {
        // console.log("Domino show drawing");
      }
    },
    drawResult(newVal, oldVal) {
      let vm = this;
      if (newVal) {
        vm.startdrawing = true;
        vm.flipP1 = true;
        vm.flipP2 = true;
        vm.flipB1 = true;
        vm.flipB2 = true;
        vm.drawPSum = 0;
        vm.drawBSum = 0;
        vm.drawPSumP2 = 0;
        vm.drawBSumB2 = 0;

        this.updateResult();
        // this.app.loader
        // .load(this.setup);
      }
    }
  },
  computed: {
    playerSum() {
      return this.drawResult.p_sum;
    },
    bankerSum() {
      return this.drawResult.b_sum;
    }
  },
  mounted() {
    this.drawImage();

    // this.$refs[
    //   "player-first-front-card"
    // ].style.backgroundImage = `url(${require(`../../../assets/images/domino/${this.gameData.prev.p1_result}.png`)})`;
    // this.$refs[
    //   "player-sec-front-card"
    // ].style.backgroundImage = `url(${require(`../../../assets/images/domino/${this.gameData.prev.p2_result}.png`)})`;
    // this.$refs[
    //   "banker-first-front-card"
    // ].style.backgroundImage = `url(${require(`../../../assets/images/domino/${this.gameData.prev.b1_result}.png`)})`;
    // this.$refs[
    //   "banker-sec-front-card"
    // ].style.backgroundImage = `url(${require(`../../../assets/images/domino/${this.gameData.prev.b2_result}.png`)})`;
  },
  methods: {
    updateResult() {
      let step = 0;
      let rotateangle = 30;
      this.app.ticker.start();
      this.app.ticker.add(delta => {
        rotateangle += delta;
        if (rotateangle >= 60) {
          rotateangle = rotateangle - 30;

          // rotateangle = rotateangle % 30;
        }
        if (step <= 15) {
          step += delta;

          this.player_domino1.rotation = rotateangle * 0.1;
          this.player_domino2.rotation = rotateangle * 0.1;
          this.banker_domino1.rotation = rotateangle * 0.1;
          this.banker_domino2.rotation = rotateangle * 0.1;
        } else if (step <= 30) {
          step += delta;
          this.player_domino1.texture = this.domino_back;
          this.player_domino2.texture = this.domino_back;
          this.banker_domino1.texture = this.domino_back;
          this.banker_domino2.texture = this.domino_back;
          this.player_domino1.rotation = rotateangle * 0.1;
          this.player_domino2.rotation = rotateangle * 0.1;
          this.banker_domino1.rotation = rotateangle * 0.1;
          this.banker_domino2.rotation = rotateangle * 0.1;
        } else if (step <= 90) {
          // step = 0;
          step += delta;
          this.player_domino1.rotation = 0;
          this.player_domino2.rotation = 0;
          this.banker_domino1.rotation = 0;
          this.banker_domino2.rotation = 0;
        } else if (step <= 105) {
          // console.log(rotateangle);
          step += delta;
          this.player_domino1.rotation = -rotateangle * 0.1;
        } else if (step <= 118) {
          step += delta;
          let aiyo = PIXI.Texture.from(
            `${require(`../../../assets/images/domino/${this.drawResult.p1_result}.png`)}`
          );
          this.player_domino1.texture = aiyo;
          aiyo.rotate = 0;
          this.player_domino1.rotation = -rotateangle * 0.1;
        } else if (step <= 180) {
          step += delta;
          this.player_domino1.rotate = 0;
          this.player_domino1.rotation = 0;
        } else if (step <= 195) {
          step += delta;
          this.banker_domino1.rotation = -rotateangle * 0.1;
          // this.app.ticker.stop();
        } else if (step <= 208) {
          step += delta;
          let aiyo = PIXI.Texture.from(
            `${require(`../../../assets/images/domino/${this.drawResult.b1_result}.png`)}`
          );
          this.banker_domino1.texture = aiyo;
          aiyo.rotate = 0;
          this.banker_domino1.rotation = -rotateangle * 0.1;
          // this.app.ticker.stop();
        } else if (step <= 270) {
          step += delta;
          this.banker_domino1.rotate = 0;
          this.banker_domino1.rotation = 0;
        } else if (step <= 285) {
          step += delta;
          this.player_domino2.rotation = -rotateangle * 0.1;
        } else if (step <= 298) {
          step += delta;
          let aiyo = PIXI.Texture.from(
            `${require(`../../../assets/images/domino/${this.drawResult.p2_result}.png`)}`
          );
          this.player_domino2.texture = aiyo;
          aiyo.rotate = 0;
          this.player_domino2.rotation = -rotateangle * 0.1;
        } else if (step <= 360) {
          step += delta;
          this.player_domino2.rotate = 0;
          this.player_domino2.rotation = 0;
        } else if (step <= 375) {
          step += delta;
          this.banker_domino2.rotation = -rotateangle * 0.1;
        } else if (step <= 388) {
          step += delta;
          let aiyo = PIXI.Texture.from(
            `${require(`../../../assets/images/domino/${this.drawResult.b2_result}.png`)}`
          );
          this.banker_domino2.texture = aiyo;
          aiyo.rotate = 0;
          this.banker_domino2.rotation = -rotateangle * 0.1;
        } else if (step <= 450) {
          step += delta;
          this.banker_domino2.rotate = 0;
          this.banker_domino2.rotation = 0;
        } else if (step > 440) {
          this.app.ticker.stop();
          this.animationEnd();
          step = 0;
        }
      });
      // this.app.ticker.remove();
      // // this.app.ticker.start();
      // this.app.ticker.add(function abc(delta) {
      //     console.log(delta);
      //     this.app.ticker.stop();
      // });
    },

    setup() {
      this.domino_back = this.app.loader.resources[
        `${require(`../../../assets/images/domino/back.png`)}`
      ].texture;

      this.player_domino1 = new PIXI.projection.Sprite2d(
        this.app.loader.resources[
          `${require(`../../../assets/images/domino/${this.drawResult.p1_result}.png`)}`
        ].texture
      );
      this.player_domino2 = new PIXI.projection.Sprite2d(
        this.app.loader.resources[
          `${require(`../../../assets/images/domino/${this.drawResult.p2_result}.png`)}`
        ].texture
      );
      this.banker_domino1 = new PIXI.projection.Sprite2d(
        this.app.loader.resources[
          `${require(`../../../assets/images/domino/${this.drawResult.b1_result}.png`)}`
        ].texture
      );
      this.banker_domino2 = new PIXI.projection.Sprite2d(
        this.app.loader.resources[
          `${require(`../../../assets/images/domino/${this.drawResult.b2_result}.png`)}`
        ].texture
      );

      let playerstyle = new PIXI.TextStyle({
        fontFamily: "Arial",
        fontSize: 20,
        fill: "blue"
      });
      let bankerstyle = new PIXI.TextStyle({
        fontFamily: "Arial",
        fontSize: 20,
        fill: "red"
      });
      let vsstyle = new PIXI.TextStyle({
        fontFamily: "Arial",
        fontSize: 20,
        fill: "white"
      });

      let player = new PIXI.Text("Player", playerstyle);
      let banker = new PIXI.Text("Banker", bankerstyle);
      let vs = new PIXI.Text("VS", vsstyle);
      let p_sum = new PIXI.Text("", playerstyle);
      let b_sum = new PIXI.Text("", bankerstyle);

      this.player_domino1.x = 60;
      this.player_domino1.y = 70;
      this.player_domino1.width = 40;
      this.player_domino1.height = 80;
      this.player_domino2.x = 110;
      this.player_domino2.y = 70;
      this.player_domino2.width = 40;
      this.player_domino2.height = 80;
      this.banker_domino1.x = 220;
      this.banker_domino1.y = 70;
      this.banker_domino1.width = 40;
      this.banker_domino1.height = 80;
      this.banker_domino2.x = 270;
      this.banker_domino2.y = 70;
      this.banker_domino2.width = 40;
      this.banker_domino2.height = 80;
      player.position.set(54, 5);
      banker.position.set(210, 5);
      p_sum.position.set(54, 300);
      vs.position.set(150, 50);
      b_sum.position.set(54, 300);
      this.player_domino1.anchor.set(0.5, 0.5);
      this.player_domino1.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      // p1_back.anchor.set(0.5, 0.5);
      // p1_back.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      this.player_domino2.anchor.set(0.5, 0.5);
      this.player_domino2.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      // p2_back.anchor.set(0.5, 0.5);
      // p2_back.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      this.banker_domino1.anchor.set(0.5, 0.5);
      this.banker_domino1.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      // b1_back.anchor.set(0.5, 0.5);
      // b1_back.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      this.banker_domino2.anchor.set(0.5, 0.5);
      this.banker_domino2.proj.affine = PIXI.projection.AFFINE.AXIS_X;
      // b2_back.anchor.set(0.5, 0.5);
      // b2_back.proj.affine = PIXI.projection.AFFINE.AXIS_X;

      // return to affine after rotating
      //  this.player_domino1.position.set(80, 60);

      this.app.stage.addChild(this.player_domino1);
      this.app.stage.addChild(this.player_domino2);
      this.app.stage.addChild(this.banker_domino1);
      this.app.stage.addChild(this.banker_domino2);
      this.app.stage.addChild(player);
      this.app.stage.addChild(banker);
      this.app.stage.addChild(vs);
      this.app.stage.addChild(p_sum);
      this.app.stage.addChild(b_sum);
      console.log(this.app);
    },

    drawImage() {
      this.$refs["myCanvas"].appendChild(this.app.view);
      this.app.renderer.backgroundColor = 0x061639;

      this.app.loader
        .add([
          `${require(`../../../assets/images/domino/${this.gameData.prev.p1_result}.png`)}`,
          `${require(`../../../assets/images/domino/back.png`)}`,
          `${require(`../../../assets/images/domino/${this.gameData.prev.p2_result}.png`)}`,
          `${require(`../../../assets/images/domino/${this.gameData.prev.b1_result}.png`)}`,
          `${require(`../../../assets/images/domino/${this.gameData.prev.b2_result}.png`)}`
        ])
        .load(this.setup);
    },
    animationEnd() {
      this.$emit("on-animation-end");
    },
    showResult(result) {
      //pass to domino game show result function
      this.$emit("show-result", result);
    }
  }
};
</script>

<style lang="scss" scoped>
.domino-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
  // background: url("../../../assets/images/domino/red-bg.jpg");
  background: green;
  // background: -moz-linear-gradient(top, #182841 0%, #0a1527 100%);
  // background: -webkit-linear-gradient(top, #182841 0%, #0a1527 100%);
  // background: linear-gradient(to bottom, #182841 0%, #0a1527 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182841', endColorstr='#0a1527',GradientType=0 );
}

.domino-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.domino-player-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//player-first-card-flip
.domino-player-first-card {
  width: 50px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-active {
  transform: rotateY(180deg);
}
// .domino-player-first-card:hover {
//   transform: rotateY(180deg);
// }
.player-first-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/domino/66.png");
}
.player-first-front-card,
.player-first-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.player-first-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/domino/back.png");
}

//player-sec-card-flip
.domino-player-sec-card {
  width: 50px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
// .domino-player-sec-card:hover {
//   transform: rotateY(180deg);
// }
.player-sec-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/domino/66.png");
}
.player-sec-front-card,
.player-sec-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.player-sec-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/domino/back.png");
}

//banker-first-card-flip
.domino-banker-first-card {
  width: 50px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
// .domino-banker-first-card:hover {
//   transform: rotateY(180deg);
// }
.banker-first-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/domino/66.png");
}
.banker-first-front-card,
.banker-first-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.banker-first-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/domino/back.png");
}

//banker-sec-card-flip
.domino-banker-sec-card {
  width: 50px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
// .domino-banker-sec-card:hover {
//   transform: rotateY(180deg);
// }
.banker-sec-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/domino/66.png");
}
.banker-sec-front-card,
.banker-sec-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.banker-sec-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/domino/back.png");
}

.domino-player-total {
  font-size: 16px;
  font-weight: bold;
  color: $domino-trend-lot-color-1;
}
.domino-vs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.domino-banker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.domino-banker-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.domino-banker-total {
  font-size: 16px;
  font-weight: bold;
  color: $domino-trend-lot-color-2;
}
.domino-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 94%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.flip-active {
  transform: rotateY(180deg);
}
.card,
.card-back {
  position: absolute;

  backface-visibility: hidden;
}
.card-back {
  //  backface-visibility: visible;
  background-color: white;
  transform: rotateY(180deg);
}

.count-up-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #858585;
  border: 1px solid transparent;
}
.count-up-third {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #2a2a2a;
}
.round-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 31px;
  width: 31px;
  color: white;
  font-size: 12px;
  text-align: center;
}
.round-up svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: -1px;
  top: 0;
  right: 0;
  width: 26px;
  height: 32px;
  transform: rotateZ(90deg) rotateZ(180deg);
}
.round-up svg circle {
  stroke-linecap: unset;
  stroke-width: 2px;
  stroke: #ff8a01;
  fill: none;
  r: 0;
  cx: 12.5;
  cy: 16.5;
}

.domino-card-betlot {
  flex: 1;
  margin: 0 2px;
}

.domino-card-betlot:first-of-type {
  margin-left: unset;
}

.domino-card-betlot:last-of-type {
  margin-right: unset;
}
</style>
